<app-navbar></app-navbar>

<section class="single-slider" style="background-image: url(assets/images/abab.jpg); height: 330px; background-color: #277cea; "  >
    
    <div class="container">
        <div class="row">
            <div class="banner-content">
                <div class="v-align">
                    <div class="v-middle">
                        <span style="font-size: larger;  background-color:rgba(31,117,187,0.7); position: relative ;right: 120px; height: 330px; width: 1600px;" >
                    
                        <div class="section-head" ><h1 style="color: aliceblue; position: relative; text-align: center; top: 80px;" >A propos de CPL</h1></div>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<section  style="background-color: transparent;">
    <div class="container">
    <div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
    <div class="single-inner">
    <div class="post-details">
    <div class="main-content-head">
   
    <div class="meta-information">
    <H2 style="text-align: center;color: #666666;"><strong>Renforcer votre ambition</strong></H2>
    </div>
    <br>

    <div class="detail-inner"  style="color: #555555;font: 400 16px 'Lato', Arial, sans-serif;">
    <p>En tant que fournisseur mondial de personnes, l’objectif principal de Cpl est de stimuler la croissance 
        de l’entreprise par les gens. Nous croyons qu’il existe un travail idéal pour tous, où que vous 
        souhaitiez aller dans votre carrière, nous pouvons vous aider.
    </p>
    <br>

    <p>Le groupe Cpl regroupe 11 pays à travers l’Europe, aidant les entreprises à trouver et à attirer les meilleurs talents dans tous les secteurs d’activité. Cpl Jobs a commencé en Pologne en 2006 avec 5 agences indépendantes situées dans des 
        régions stratégiques du pays : Tunis Nos principaux domaines d’expertise 
        en recrutement local comprennent :
    </p>
    <br>
    <p>
<strong>Finance et Comptabilité, IT & Télécom, Ventes et Marketing, Fabrication et Ingénierie et Services aux entreprises.</strong>
    </p>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
<br>

<div class="wpb_wrapper" style="background-color: white;" >
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<div class="section-head">
<h2 style="position: relative; left:600px "><i class="lni lni-list" style="position: relative; right: 60px;"></i><i class="lni lni-wrench-adjustable">CPL EN CHIFFRES</i><i class="lni lni-list" style="position: relative; right: -70px;"></i></h2>
</div>

		</div>
	</div>
</div>

<section class="shipping-info" style="background-color: white;">
    <div class="container">
        <ul>
            <!-- Free Shipping -->
            <li>
                <div class="media-icon">
                    <p style="color: #277cea;font-size: xx-large;">16</p>
                </div>
                <div class="media-body">
                    <h5>Secteurs spécialisés</h5>
                  
                </div>
            </li>
            <!-- Money Return -->
            <li>
                <div class="media-icon">
                    <p style="color: #277cea;font-size: xx-large;">21</p>
                </div>
                <div class="media-body">
                    <h5>Marques</h5>
                   
                </div>
            </li>
            <!-- Support 24/7 -->
            <li>
                <div class="media-icon">
                    <p style="color: #277cea;font-size: xx-large;">11</p>
                </div>
                <div class="media-body">
                    <h5>Pays</h5>
                   
                </div>
            </li>
            <!-- Safe Payment -->
            <li>
                <div class="media-icon">
                    <p style="color: #277cea; font-size: xx-large;">28</p>
                </div>
                <div class="media-body">
                    <h5>Ancienneté dans le secteur</h5>
                   
                </div>
            </li>
        </ul>
    </div>
</section>

<section  class="about-us section" >
    <div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 col-md-12 col-12" >
    <div class="content-left">
    <img style="height: 500px;" src="assets/images/azerty.jpg" alt="#" data-pagespeed-url-hash="1088165978" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    
    </div>
    </div>
    <div class="col-lg-6 col-md-12 col-12">
    
    <div class="content-right">
        
    <h1 style="font-size: 36px;">Cpl est un fournisseur mondial de personnes</h1>

    <p style="color: #333333;">Le groupe est composé de 21 marques 
        d’expertise en recrutement et dotation de personnel dans chaque secteur d’activité.
         Nous travaillons avec des entreprises de toutes tailles, des startups aux multinationales pour identifier 
         les candidats qui répondent le mieux à leurs besoins. Nous fournissons cela grâce à notre gamme de services de dotation :</p>
    </div>
    <br>
   
    <br>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="row">
                <div class="col-3">
                    <img style="height: 90px; width: 90px; left: 20px;position: relative;" src="assets/images/200.png" alt="">
                </div>
                <div class="col-9">
                    <h5><strong>Apprentissage et développement</strong></h5>
                    <br>
                    <p>Conduire la réussite des entreprises grâce aux personnes</p>
                </div>
            </div>
        </div>
        
    
        <div class="col-lg-6 col-md-6 col-12">
            <div class="row">
                <div class="col-3">
                    <img style="height: 100px; width: 100px; left: 20px;position: relative;" src="assets/images/201.png" alt="">
                </div>
                <div class="col-9">
                    <h5><strong>Externalisation</strong></h5>
                    <br>
                    <p>Des personnes pour tous les besoins de l'entreprise</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    </div>
    </div>
    </section>

<br>
    
    <section>
        
    <div class="meta-information">
        <H2 style="text-align: center;color: #000000; position: relative;top: -10px;"><strong>À propos du Groupe Cpl  </strong></H2>
        </div>
        <br>
        <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img style="height: 90px; width: 90px; left: 20px;position: relative;" src="assets/images/202.png" alt="">
                </div>
               
                <div class="col-8">
                    <h5><strong>Sociétés et divisions</strong></h5>
                    <br>
                    <p>Chacune de nos divisions et sociétés est dédiée à un secteur ou à un service unique afin que nous puissions fournir un service sur mesure pour chaque besoin de recrutement.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img style="height: 90px; width: 90px; left: 20px;position: relative;" src="assets/images/203.png" alt="">
                </div>
               
                <div class="col-8">
                    <h5><strong>Secteurs</strong></h5>
                    <br>
                    <p>Nous plaçons des gens à des postes dans de multiples secteurs et industries, y compris, Finance et Comptabilité, IT & Télécom, Fabrication et Ingénierie et Services aux entreprises</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img style="height: 90px; width: 90px; left: 20px;position: relative;" src="assets/images/204.png" alt="">
                </div>
               
                <div class="col-8">
                    <h5><strong>Nos clients</strong></h5>
                    <br>
                    <p>Nous nous associons à des entreprises de toutes tailles pour les aider à trouver les personnes qui pousseront leurs activités vers l'avant.</p>
                </div>
            </div>
        </div>
        
    
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img style="height: 90px; width: 90px; left: 20px;position: relative;" src="assets/images/205.png" alt="">
                </div>
               
                <div class="col-8">
                    <h5><strong>Valeurs fondamentales</strong></h5>
                    <br>
                    <p>Ces cinq valeurs régissent toutes les interactions que nous avons avec nos clients, nos candidats et les autres.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img style="height: 90px; width: 90px; left: 20px;position: relative;" src="assets/images/206.png"alt="">
                </div>
               
                <div class="col-8">
                    <h5><strong>Prix et accréditations</strong></h5>
                    <br>
                    <p>Cpl est un chef de file reconnu dans le recrutement spécialisé, la dotation en personnel, les services gérés et l'externalisation ; nous avons les prix pour le prouver.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img style="height: 90px; width: 90px; left: 20px;position: relative;" src="assets/images/207.png" alt="">
                </div>
               
                <div class="col-8">
                    <h5><strong>Pour les investisseurs</strong></h5>
                    <br>
                    <p>Cpl est coté à la fois sur les bourses irlandaises et de Londres, découvrez plus dans notre section investisseurs.</p>
                </div>
            </div>
        </div>
        
    
    </div>
</section>
<br>
<br>

<section  class="about-us section">
    <div class="container" >
    <div class="row align-items-center">
    <div class="col-lg-12 col-md-12 col-12" >
    <div class="content-left">
        
    <img src="assets/images/4.jpg" style="height: 500px; " alt="#" data-pagespeed-url-hash="1088165978" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    <a data-bs-toggle="modal" data-bs-target="#exampleModal-7" data-whatever="@mdo" class="glightbox video"><i class="lni lni-play"></i></a>
</div>
    </div>
   
    </div>
    </div>
    </section>


    <div class="modal fade" id="exampleModal-7" tabindex="-1" aria-labelledby="ModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="position: relative;right: 140px;top: 180px;background-color: transparent;" >
                
                    <a  style="position: relative; left: 178%;top: 20px; " type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span style="color: red;" aria-hidden="true"><strong>X</strong></span>
                    </a>
                  
            <iframe style="width:900px;height: 400px; " src="https://www.youtube.com/embed/2BKko8IpQ9k" frameborder="0" allowfullscreen></iframe>
    
      </div> 
        </div>
    </div>            

<app-footer></app-footer>