<section class="product-grids section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="product-sidebar">
                    <div class="single-widget" style="background-color: #8dc4ff; color: #fff; padding: 15px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
                        <h3 style="font-size: 18px; margin-bottom: 15px;">Profil CPLJOBS</h3>
                        <ul class="list-unstyled">
                            <li style="margin-bottom: 10px;">
                                <a href="/monespace" style="color: #fff; text-decoration: none; font-size: 16px;">Mon Espace</a>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <a href="/profil" style="color: #fff; text-decoration: none; font-size: 16px;">Mon Profil CV</a>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <a href="/motivation" style="color: #fff; text-decoration: none; font-size: 16px;">Lettres de Motivation</a>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <a href="/document" style="color: #fff; text-decoration: none; font-size: 16px;">Mes Documents</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
