
<app-navbar></app-navbar>
<br>
<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Lancez votre recherche</h2>
                       
                    </div>
                </div>
            </div>

            
       
            <div class="contact-info">
                <div class="row">
                   
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="contact-form-head">
                            <div class="form-main">
                                <form class="form" [formGroup]="searchFormGroup"
                                (ngSubmit)="handleSearchInfopro()" >
                                    <div class="row">
                                        <div class="col-lg-12 col-md-6 col-12">
                                            <div class="form-group">
                                                <input formControlName="keyword" name="name" type="text" placeholder="Mot clé" >
                                            </div>
                                        </div>
                                      
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <select  formControlName="secteur"  class="form-control"     (ngSubmit)="handleSearchInfopro()">
                                                    <option  disabled selected>secteur</option>
                                                      <option >Achats / Logistique</option>
                                                      <option >Administration / Secrétariat</option>
                                                      <option >Aéronautique / Aviation / Voyages</option>
                                                      <option >Agent polyvalent / Ouvrier Spécialisé</option>
                                                      <option >Agricuture / Agro-Alimentaire / Environnement</option>
                                                      <option >Architecture / Immobilier</option>
                                                      <option >Artisanat / Métier de L'Art</option>
                                                      <option >Automobile / Moteurs / Engins Mécaniques</option>
                                                      <option >Banque / Assurances / Finance Marché</option>
                                                      <option >Bàtiment Travaux Public Btp</option>
                                                      <option >Call Center / Télévente</option>
                                                      <option >Chimie / Biologie / Physique</option>
                                                      <option >Commercial / Vente / Distrution</option>
                                                      <option >Comptabilité / Gestion Finance / Audit</option>
                                                      <option >Consultant / Etude / Conseil</option>
                                                      <option >Cosmétique / Parfumerie / Luxe</option>
                                                      <option >Culture / Audiovisuel</option>
                                                      <option >Direction / Management / Stratégie</option>
                                                      <option >Droit / Fiscalité / Juridique</option>
                                                      <option >Électronique / Électricité / Énergie </option>
                                                      <option >Enseignement / Formation </option>
                                                      <option >Export / Transit</option>
                                                      <option >Gardiennage / Securité</option>
                                                      <option >Informatique / Multimédia </option>
                                                      <option >Ingénieur / Industrie / Production </option>
                                                      <option >Journalisme / Traduction /Édition </option>
                                                      <option >Maintenance / Qualité</option>
                                                      <option >Marketing / Publicité / Communication</option>
                                                      <option >Ressources Humaines / Social</option>
                                                      <option >Santé / Paramédical / Optique</option>
                                                      <option >Technicien / Industrie / Production</option>
                                                      <option >Télécom / Réseaux</option>
                                                      <option >Textile / Cuir</option>
                                                      <option >Tourisme / Hôtellerie / Restauration / Loisirs</option>
                                                      <option>Transport / Livraison / Manutention</option>
                                                      <option >Autres </option>
                                          
                                  
                                              
                                                  </select> 
                                                
                                  
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                
                                                <select  formControlName="etude"  class="form-control"    (ngSubmit)="handleSearchInfopro()">
                                                    <option  disabled selected>Niveau d'étude</option>
                                                    <option>Primaire </option>
                                                    <option >Secondaire </option>
                                                    <option >Formations professionnelles </option>
                                                    <option >Bac </option>
                                                    <option >Bac + 1 </option>
                                                    <option >Bac + 2 </option>
                                                    <option >Bac + 3 </option>
                                                    <option >Bac + 4 </option>
                                                    <option >Bac + 5 </option>
                                                    <option >Doctorat </option>
                                                    <option>Expert,Recherche </option>
                                                    <option >Autres </option>
                                                    
                                                    </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <select  formControlName="experience"  class="form-control"   (ngSubmit)="handleSearchInfopro()" >
                                                    <option disabled selected>Niveau d'expérience</option>
                                                    <option>Aucune experience</option>
                                                    <option >Moins d'un an </option>
                                                    <option >Entre 1 et 2 ans </option>
                                                    <option >Entre 2 et 5 ans </option>
                                                    <option >Entre 5 et 10 ans </option>
                                                    <option >Plus que 10 ans </option>
                                               
                                                    
                                                    </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <select  formControlName="lieu"  class="form-control"    (ngSubmit)="handleSearchInfopro()">
                                                    <option disabled selected>region</option>
                                                    <option >Ariana </option>
                                                    <option >Beja </option>
                                                    <option >Ben Arous </option>
                                                    <option >Bizerte </option>
                                                    <option >Gabes </option>
                                                    <option >Gafsa </option>
                                                    <option >Jendouba </option>
                                                    <option >Kairouan </option>
                                                    <option >Kasserine </option>
                                                    <option >Kebili </option>
                                                    <option >Kef </option>
                                                    <option >Mahdia </option>
                                                    <option >Manouba </option>
                                                    <option >Medenine </option>
                                                    <option >Monastir </option>
                                                    <option >Nabeul </option>
                                                    <option >Sfax</option>
                                                    <option >Sidi Bou Zid </option>
                                                    <option >Siliana </option>
                                                    <option >Sousse</option>
                                                    <option >Tataouine </option>
                                                    <option >Tozeur </option>
                                                    <option >Tunis</option>
                                                    <option >Zaghouan </option>
                                                    </select>
                                            </div>
                                        </div>
                                       
                                        <div class="col-12">
                                            <div class="form-group button">
                                                <button style="position: relative;top: 40px;" type="submit" class="btn "   (click)="handleSearchInfopro()">Lancer la recherche</button>
                                            </div>
                                        </div>

                                            
                                        </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<app-footer></app-footer>