<app-navbar></app-navbar>
<br>
<section>
        
    <div class="meta-information">
        <H2 style="text-align: center;color: #000000; position: relative;top: -10px;"><strong>Espace Recruteur  </strong></H2>
        </div>
        <br>
        <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img style="height: 90px; width: 90px; left: 20px;position: relative;" src="assets/images/204.png" alt="">
                </div>
               
                <div style="position: relative;top: 30px;" class="col-8">
                    <h5 routerLink="/annonce"><strong>Publier une annonce</strong></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img style="height: 90px; width: 90px; left: 20px;position: relative;" src="assets/images/206.png" alt="">
                </div>
               
                <div  style="position: relative;top: 30px;" class="col-8">
                    <h5 routerLink="/listannonce"><strong>Gérer Mes annonces</strong></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img style="height: 90px; width: 90px; left: 20px;position: relative;" src="assets/images/207.png" alt="">
                </div>
               
                <div style="position: relative;top: 30px;" class="col-8">
                    <h5 routerLink="/search"><strong>Rechercher un CV</strong></h5>
                   
                </div>
            </div>
        </div>
        
    
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img style="height: 90px; width: 90px; left: 20px;position: relative;" src="assets/images/205.png" alt="">
                </div>
               
                <div style="position: relative;top: 30px;" class="col-8" >
                    <h5 routerLink="/stat"><strong>Statistiques</strong></h5>
                  
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img style="height: 90px; width: 90px; left: 20px;position: relative;" src="assets/images/202.png"alt="">
                </div>
               
                <div style="position: relative;top: 30px;" class="col-8">
                    <h5 routerLink="/profilentreprise"><strong>Profil de l'entreprise</strong></h5>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            
        </div>
        
    
    </div>
</section>
<br>
<br>
<app-footer></app-footer>