<div class="container" >
    <div class="card col-md-10 offset-1 mt-2">
     
      <div  *ngIf="isSuccessful" class="alert alert-success  fade show" role="alert">
        <strong></strong> Le candidat a été créé avec succès
        <a (click) ="closeAlert()" type="button" class="close" data-dismiss="alert" >
          <span aria-hidden="true"></span>
        </a>
      </div>
  
      <div class="card-header">Créer un nouveau candidat</div>
      <form [formGroup]="formCustomer" (ngSubmit)="addCustomer()">
              <div class="row">
                <div class="col-md-6">
                  <label for="nom" class="form-label">Nom</label>
               <input type="text" formControlName="nom" class="form-control"  placeholder="nom">
        
                </div>
            </div>
                <div class="col-md-6">
                  <label for="prenom" class="form-label">prenom</label>
                 <input type="text" formControlName="prenom" class="form-control"  placeholder="prenom">
          
                </div>
           
             
                <div class="col-md-6">
                  <label for="numéro" class="form-label">Email</label>
                  <input type="text" formControlName="email" class="form-control" placeholder="xyz@xyz.com">
           
           
 
             
            </div>
               
              <div class="row">
                <div class="col-12">
                  <label for="adresse" class="form-label">Secteur</label>
                  <div class="form-group" >
                
                      <select formControlName="secteur"  class="form-control"  >
                        <option  disabled selected>secteur</option>
                          <option >Achats / Logistique</option>
                          <option >Administration / Secrétariat</option>
                          <option >Aéronautique / Aviation / Voyages</option>
                          <option >Agent polyvalent / Ouvrier Spécialisé</option>
                          <option >Agricuture / Agro-Alimentaire / Environnement</option>
                          <option >Architecture / Immobilier</option>
                          <option >Artisanat / Métier de L'Art</option>
                          <option >Automobile / Moteurs / Engins Mécaniques</option>
                          <option >Banque / Assurances / Finance Marché</option>
                          <option >Bàtiment Travaux Public Btp</option>
                          <option >Call Center / Télévente</option>
                          <option >Chimie / Biologie / Physique</option>
                          <option >Commercial / Vente / Distrution</option>
                          <option >Comptabilité / Gestion Finance / Audit</option>
                          <option >Consultant / Etude / Conseil</option>
                          <option >Cosmétique / Parfumerie / Luxe</option>
                          <option >Culture / Audiovisuel</option>
                          <option >Direction / Management / Stratégie</option>
                          <option >Droit / Fiscalité / Juridique</option>
                          <option >Électronique / Électricité / Énergie </option>
                          <option >Enseignement / Formation </option>
                          <option >Export / Transit</option>
                          <option >Gardiennage / Securité</option>
                          <option >Informatique / Multimédia </option>
                          <option >Ingénieur / Industrie / Production </option>
                          <option >Journalisme / Traduction /Édition </option>
                          <option >Maintenance / Qualité</option>
                          <option >Marketing / Publicité / Communication</option>
                          <option >Ressources Humaines / Social</option>
                          <option >Santé / Paramédical / Optique</option>
                          <option >Technicien / Industrie / Production</option>
                          <option >Télécom / Réseaux</option>
                          <option >Textile / Cuir</option>
                          <option >Tourisme / Hôtellerie / Restauration / Loisirs</option>
                          <option>Transport / Livraison / Manutention</option>
                          <option >Autres </option>
              
  
                  
                      </select>
  
                  </div>
                
                  
             
          </div>
           
       
        
          </div>
              
              
               <div class="row">
                <div class="col-12">
                  <label for="adresse" class="form-label">Etude</label>
                  <div class="form-group" >
                
                    
  <select formControlName="etude"  class="form-control" >
    <option  disabled selected>Niveau d'étude</option>
    <option>Primaire </option>
    <option >Secondaire </option>
    <option >Formations professionnelles </option>
    <option >Bac </option>
    <option >Bac + 1 </option>
    <option >Bac + 2 </option>
    <option >Bac + 3 </option>
    <option >Bac + 4 </option>
    <option >Bac + 5 </option>
    <option >Doctorat </option>
    <option>Expert,Recherche </option>
    <option >Autres </option>
    
    </select>
                    
                  </div>
                
                  
             
          </div>
           
       
            
       
          
              </div>
               
  
      
              
    <input class="form-control" formControlName="cv" type="file" name="file" (change)="handleFileInput($event)">
          
             <button type="submit" class="btn btn-info" >Enregistrer le candidat</button>
          </form>
          