<app-navbar></app-navbar>
<button style="position: relative;left: 1220px;" type="button" class="btn btn-warning" (click)="getoui()" *ngIf="!aff">Modiffier info</button>
<br>
<div class="col-md-9 grid-margin stretch-card" *ngIf="!aff">
  <div class="card"style="box-shadow: 0 5px 10px rgba(0,0,0,.2); left:20%;" >
    <div class="card-body" >
      <div  *ngIf="alert" class="alert alert-success  fade show" role="alert">
        <strong></strong> Votre profil a été créé avec succès
        <a (click) ="closeAlert()" type="button" class="close" data-dismiss="alert" >
          <span aria-hidden="true"></span>
        </a>
      </div>
      <h4 class="card-title">Ajouter une languee</h4> 
      
  
  
      <form [formGroup]="formLangue" (ngSubmit)="addLangue()">
        
       <br>
       <br>
  
       <div class="row">
        <div class="col-6">
          <label for="adresse" class="form-label">Langue</label>
          <div class="form-group" >
        
            
<select  formControlName="langues"  class="form-control" >
 <option value="" selected="">---------</option>

  <option >Arabe</option>

  <option >Français</option>

  <option >Anglais</option>

  <option >Italien</option>

  <option >Espagnol</option>

  <option >Allemand</option>

  <option >Russe</option>

  <option >Polonais</option>

  <option >Portugais</option>

  <option >Néerlandais</option>

  <option >Tchèque</option>

  <option >Chinois</option>

  <option >Japonais</option>

</select>
            
          </div>
        
  </div>
   

    
   
  
      </div>
      <br>
        
      <div class="mb-1">
        <label class="form-label">Niveau
        </label>
        <div class="row">
          <div class="col-2">
        <div class="form-check">
          <input type="radio" class="form-check-input" formControlName="niveau" value="Débutant" name="postType5">
          <label class="form-check-label">Débutant</label>
      </div>
    </div>
    <div class="col-2">
      <div class="form-check">
          <input type="radio" class="form-check-input" formControlName="posteact" value="Intermédiaire" name="postType5">
          <label class="form-check-label">Intermédiaire</label>
      </div>
    </div>
    <div class="col-2">
        <div class="form-check">
          <input type="radio" class="form-check-input" formControlName="posteact" value="Avancé" name="postType5">
          <label class="form-check-label">Avancé</label>
      </div>
    </div>
    <div class="col-2">
        <div class="form-check">
          <input type="radio" class="form-check-input" formControlName="posteact" value="Courant" name="postType5">
          <label class="form-check-label">Courant</label>
      </div>
    </div>
</div>
     
      </div>


      <div class="col-md-6">
        <div class="mb-1">
          <label class="form-label">Certificat</label>
          <select  formControlName="certificat"  class="form-control" >
            <option value="" selected="">---------</option>
            <option >   TOEIC </option>
            <option > TOEFL</option>
            <option > TCF</option>
            </select>
        </div>
      </div>



          <div class="col-md-12">
            <div class="mb-1">
              <label class="form-label">Score</label>
              <input type="text" formControlName="score" class="form-control" placeholder="">
              
      
            </div>
          </div>
<br>
         

          
             <button type="submit" class="btn btn-info" >Enregistrer</button>
          </form>
  
</div>
</div>
</div>






<div class="col-md-9 grid-margin stretch-card" *ngIf="aff">
  <div class="card"style="box-shadow: 0 5px 10px rgba(0,0,0,.2); left:20%;" >
    <div class="card-body" >
      <div  *ngIf="alert" class="alert alert-success  fade show" role="alert">
        <strong></strong> Votre profil a été créé avec succès
        <a (click) ="closeAlert()" type="button" class="close" data-dismiss="alert" >
          <span aria-hidden="true"></span>
        </a>
      </div>
      <h4 class="card-title">Ajouter une languee</h4> 
      
  
  
      <form [formGroup]="formLangue1" (ngSubmit)="updateLan()">
        
       <br>
       <br>
  
       <div class="row">
        <div class="col-6">
          <label for="adresse" class="form-label">Langue</label>
          <div class="form-group" >
        
            
<select  formControlName="langues"  class="form-control" >
 <option value="" selected="">---------</option>

  <option >Arabe</option>

  <option >Français</option>

  <option >Anglais</option>

  <option >Italien</option>

  <option >Espagnol</option>

  <option >Allemand</option>

  <option >Russe</option>

  <option >Polonais</option>

  <option >Portugais</option>

  <option >Néerlandais</option>

  <option >Tchèque</option>

  <option >Chinois</option>

  <option >Japonais</option>

</select>
            
          </div>
        
  </div>
   

    
   
  
      </div>
      <br>
        
      <div class="mb-1">
        <label class="form-label">Niveau</label>
        <div class="col-2">
            <select class="form-select" formControlName="niveau" name="postType5">
                <option >Débutant</option>
                <option >Intermédiaire</option>
                <option >Avancé</option>
                <option >Courant</option>
            </select>
        </div>
    </div>
    

      <div class="col-md-6">
        <div class="mb-1">
          <label class="form-label">Certificat</label>
          <select  formControlName="certificat"  class="form-control" >
            <option value="" selected="">---------</option>
            <option >   TOEIC </option>
            <option > TOEFL</option>
            <option > TCF</option>
            </select>
        </div>
      </div>



          <div class="col-md-12">
            <div class="mb-1">
              <label class="form-label">Score</label>
              <input type="text" formControlName="score" class="form-control" placeholder="">
              
      
            </div>
          </div>
<br>
         

          
             <button type="submit" class="btn btn-info" >Enregistrer</button>
          </form>
  
</div>
</div>
</div>

<router-outlet></router-outlet>
<br>
<app-footer></app-footer>
