<footer class="footer">
    <!-- Start Footer Top -->
    <div class="footer-top" style="background-color: rgba(6,147,227,1);" *ngIf="user !=null">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="newsletter-form-head">
                            <form action="#" method="get" target="_blank" class="newsletter-form">
                              <div class="button" style="position: relative; left:130%;">
                                <button style="background-color: #ff6900;" class="btn">
                                  <span style="display: inline-block; white-space: nowrap; font-size: larger;">Recevez des offres d'emploi directement dans votre boîte aux lettres</span>
                                </button>
                              </div>
                            </form>
                          </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    <!-- End Footer Top -->
    <!-- Start Footer Middle -->
    <div class="footer-middle">
        <div class="container">
            <div class="bottom-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-contact">
                            <h3>Catégories d'offres d'emploi</h3>
                            <p>Construction</p>
                          
                                <p>Ingénierie et production</p>
                                <p>Hôtellerie</p>
                                <p>Ressources Humaines</p>
                              
                                <p>Industrie</p>
                                <p>Assurance</p>
                            
                           
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer ">
                           
                            <div style="position: relative; top: 80px;">
                            <p >Assurance</p>
                            <p>Marketing</p>
                            <p>Commerce de détail</p>
                            <p>Ventes</p>
                            <p>Recherche et Developpement</p>
                            <p>Logistique</p>
                        </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>Société</h3>

                            <p>Nous contacter</p>
                            <p>A propos de CPL</p>
                            <p>Blog</p>
                            <p>Offres d’emploi</p>
                           
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3> À propos de ce site web</h3>
                            <p>Sécurité</p>
                            <p>Politique de confidentialité</p>
                            <p>Politique sur les cookies</p>
                            <p>Désistement</p>
                            <p>Accessibilité</p>
                            
                        </div>
                        <!-- End Single Widget -->
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Middle -->
    <!-- Start Footer Bottom -->
    <div class="footer-bottom" style="background-color: #000000; ">
        <div class="container">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-12">
                       
                    </div>
                    <div class="col-lg-4 col-12">
                        
                    </div>
                    <div class="col-lg-4 col-12">
                        <ul class="socila">
                            <li>
                                <span>Suivez-nous sur  :</span>
                            </li>
                            <li><a href="https://www.facebook.com/pages/CPL-Jobs-Tunisia/385438804978193"><i class="lni lni-facebook-filled"></i></a></li>                          
                            <li><a href="https://www.instagram.com/cplintegratedservices/"><i class="lni lni-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/cpl-jobs-tunisie/mycompany/"><i class="lni lni-linkedin-original"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!--/ End Footer Area -->

<!-- ========================= scroll-top ========================= -->
<a (click)="onsubmit()" class="scroll-top">
    <i class="lni lni-chevron-up"></i>
</a>
