.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg); 
    white-space: nowrap; 

    position: relative;
    left: 135px;
    top: 40px;

    color:rgb(21, 127, 141);
  }
  
  .form-control{
    position: relative;
    left: 190px;
  }

  label{
    position: relative;
    left: 160px;
    color:rgb(21, 127, 141);


  }


  h2{
    text-align: center;
    position: relative;
    top: 80px;
  }


  